@font-face {
    font-family: "Mulish";
    src: url('../fonts/Mulish-VariableFont_wght.ttf');
}

.App {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: rgb(219, 221, 253);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    font-family: "Mulish";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    
}

.cv-wrapper {
    border: 3px solid rgb(1, 1, 90);
    min-width: 210mm;
    min-height: 297mm;
    aspect-ratio: 210 / 297;
    background-color: white;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

