.experience-header {
    color: rgb(0, 37, 71);
    padding: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.582);
}

.header-wrapper {
    height: 54px;
    margin-bottom: 10px;
}

.header-wrapper:hover {
    background-color: rgb(180, 180, 180);
}

.btn-add {
    background: none;
    border: none;
    position: relative;
    float: inline-end;
    top: 25%;
    right: 10px;
}

.company-wrapper {
    padding: 10px;
}

.btn-edit {
    background: none;
    border: none;
    position: relative;
    float: inline-end;
    top: 25%;
    right: 10px;
}

.btn-delete {
    background: none;
    border: none;
    position: relative;
    float: inline-end;
    top: 25%;
    right: 10px;
}


#fa-plus:hover {
    color: white;
}