.experience-header {
    color: rgb(0, 37, 71);
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.582);
}

.btn-add {
    background: none;
    border: none;
    position: relative;
    float: right;
}